# Default is from neon.tech postgres, feel free to change
DATABASE_URL= 

# Optional for built-in caching: Get these from Upstash Redis console
REDIS_URL= 
REDIS_TOKEN= 
DATABASE_URL=postgresql://neondb_owner:npg_JREwa4F3mzWK@ep-aged-lab-a4c7cz1l-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_d2l0dHktZ2F0b3ItNzkuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_1NgJTApiHdKpZaKmkahWlacDSdi1prUpqduaokxwCr